.container {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.summary-item {
  padding: 10px;
  background-color: #f8f9fa;
  text-align: center;
}
table th{
  background-color: var(--main-color);
  color: #fff;
}
.table_wrap {
  overflow-x: scroll;
  margin-bottom: 10px;
}

.table_wrap table {
  width: 1300px;
}
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  table {
   font-size: 10px;
 }
 .form-group input , select , button{
  font-size: 12px;
 }
 label{
  font-size: 12px;
 }
}
