<div class="globel_wrap">
    <div class="loading_wrap" *ngIf="loading">
        <span class="loader"></span>
       </div>
    <div class="globel_header d-flex justify-content-between align-items-center">

        <h3><button class="btn btn-primary" *ngIf="taskView" (click)="taskView = false"><i class="fa-solid fa-angle-left"></i></button> Task</h3>
        <button class="theme_btn" *ngIf="user.role == 'admin'" (click)="open(addTask); checkEditTask = false; taskForm.reset()"><i class="fas fa-plus"></i> add  </button>
    </div>
    <div class="filter " *ngIf="!taskView && tasks !== []">
      <input type="text" (keyup.enter)="searchTasks()" [(ngModel)]="searchTerm" placeholder="Search">
    </div>

    <div class="tasksData" *ngIf="!taskView  && !loading">

   <div class="table_wrap">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th class="pointerC" scope="col" (click)="sortTasks('client.name')">Client Name</th>
          <th class="pointerC" scope="col" (click)="sortTasks('dueDate')">Due Date</th>
          <th class="pointerC" scope="col" (click)="sortTasks('name')">Name</th>
          <th class="pointerC" scope="col" (click)="sortTasks('user.name')">Assigned to</th>
          <th class="pointerC" scope="col" (click)="sortTasks('description')">Description</th>
          <th class="pointerC" scope="col" (click)="sortTasks('status')">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="tasks.length > 0; else noResults">
          <tr *ngFor="let task of tasks; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ task.client.name }}</td>
            <td>{{ formatDate(task.dueDate) }}</td>
            <td>{{ task.name.length > 10 ? task.name.slice(0, 10) + '...' : task.name }}</td>
            <td>{{ task.user.name }}</td>
            <td>{{ task.description.length > 20 ? task.description.slice(0, 20) + '...' : task.description }}</td>
            <td>{{ task.status }}</td>
            <td>
              <ul class="actions m-0 d-flex  gap-2">
                <li><i class="far fa-eye" data-toggle="tooltip" title="View" (click)="viewTask(task); taskView=true"></i></li>
                <li><i class="fa-regular fa-pen-to-square" *ngIf="user.role == 'admin'" (click)="editTask(addTask,task) ; checkEditTask= true" data-toggle="tooltip" title="Delete"></i></li>
                <!-- <li><i class="fas fa-trash-alt" *ngIf="user.role == 'admin'" (click)="deleteTask(task.id)" data-toggle="tooltip" title="Delete"></i></li> -->
                <li *ngIf="user.role == 'admin'">
                  <label class="switch" [ngClass]="{'disable': task.status === 'Completed'}">
                  <input (change)="disableTask(task,task.status)" [disabled]="task.status === 'Completed'" [checked]="task.status !== 'Disabled'" type="checkbox">
                  <span class="slider"></span>
                </label>
              </li>
              </ul>
            </td>
          </tr>
        </ng-container>
        <ng-template #noResults>
          <tr>
            <td colspan="8" class="text-center">No results found.</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
   </div>

    <div class="pagination d-flex justify-content-center" *ngIf="paginationData.last_page > 1">
      <nav>
        <ul class="pagination justify-content-center" >
          <li class="page-item">
            <a class="page-link" (click)="taskPaginantion(paginationData.current_page-1)"  [ngClass]="{ 'disabled': paginationData.current_page === 1 }" aria-label="First">
              <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
            </a>
          </li>
          <li class="page-item"  *ngFor="let item of pagination">
            <a class="page-link" [ngClass]="{'active': paginationData.current_page == item}" (click)="taskPaginantion(item)"  aria-label="First">
              <span aria-hidden="true">{{item}}</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link"  (click)="taskPaginantion(paginationData.current_page+1)" [ngClass]="{ 'disabled': paginationData.current_page === paginationData.last_page }"  aria-label="First">
              <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

    <div class="taskView" *ngIf="taskView">
      <div class="row mt-3">
        <div class="col-md-8 task_info" >
          <h3>{{ taskViewData.name }}</h3>
          <ul >
            <li>Assigned Date: <b>{{ formatDate(taskViewData.created_at) }}</b></li>
            <li>Due Date: <b>{{ formatDate(taskViewData.dueDate) }}</b></li>
            <li>Client: <b>{{ taskViewData.client.name }}</b></li>
            <li>Status: <b>{{ taskViewData.status }}</b></li>
            <li>Task Repetition : <b>{{ taskViewData.repeatTask }}</b></li>
            <li>Date Completed : <b *ngIf="taskViewData.dateCompleted === 'Not added'">Not added</b><b *ngIf="taskViewData.dateCompleted !== 'Not added'">{{formatDate(taskViewData.dateCompleted) }}</b></li>
            <li>Date Mailed : <b *ngIf="taskViewData.dateMailed === 'Not added'">Not added</b><b *ngIf="taskViewData.dateMailed !== 'Not added'">{{formatDate(taskViewData.dateMailed) }}</b></li>
            <li>Date E-Filed : <b *ngIf="taskViewData.dateFiled  === 'Not added'">Not added</b><b *ngIf="taskViewData.dateFiled  !== 'Not added'">{{formatDate(taskViewData.dateFiled )}}</b></li>
          </ul>
          <h4>Description</h4>
          <p>{{ taskViewData.description }}</p>
          <div class="d-flex align-items-center gap-2" *ngIf="!chatLoading && user.role !== 'admin'">
            <button class="btn btn-success" [ngClass]="{'disabled': taskViewData.status === 'Disabled'}" *ngIf="taskViewData.status !== 'Completed'" (click)="updateTask()">Mark as completed</button>
            <button class="btn btn-primary"  (click)="editeDates(taskViewData,dateFormModal)">Finalize Task</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="memo position-relative">
            <h4>Memo</h4>
            <div class="memo-container" >

              <div class="memo-wrap" *ngFor="let item of memos">
                <i class="fas fa-trash-alt" (click)="deleteMemo(item.id)" data-toggle="tooltip" title="Delete"></i>
                <h5>{{item.type}}</h5>
                <p>{{item.memo}}</p>
                <span>{{ formatDateWithTime(item.created_at) }}</span>
              </div>
              <p *ngIf="memos.length === 0">No memos found.</p>
            </div>
            <div class="chatLoader" *ngIf="chatLoading">
              <span class="loader"></span>
            </div>
            <form [formGroup]="memoForm" (ngSubmit)="addMemo()" class="mt-2">
              <div class="form-group mb-2">
                <textarea id="memo" formControlName="memo" placeholder="Write new memo..." class="form-control"
                  [ngClass]="{ 'is-invalid': memoForm.get('memo').invalid && memoForm.get('memo').touched }" rows="2"></textarea>

              </div>
  <button class="btn btn-primary mt-2" >Send</button>
</form>

          </div>
        </div>
      </div>
    </div>
</div>



<ng-template #addTask let-c="close" let-d="dismiss">
    <div class="addModal">
        <div class="modalHeader d-flex justify-content-between align-items-center">
            <h4 class="m-0">Add new task</h4>
            <i (click)="d('Cross click')" class="far fa-times-circle"></i>
        </div>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="form-group">
                <label for="name">Task Name:</label>
                <div class="dropdown" (focusin)="showDropdown = true" (focusout)="hideDropdown()">
                  <input type="text" autofocus="disable" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': taskForm.get('name').invalid && taskForm.get('name').touched }">
                  <ul class="dropdown-menu d-block w-100" aria-labelledby="name" *ngIf="showDropdown">
                    <li *ngFor="let item of uniqueTaskNames" class="dropdown-item" (click)="selectExistingTask(item, $event)">{{item}}</li>
                  </ul>
                </div>

                <div class="invalid-feedback" *ngIf="taskForm.get('name').invalid && taskForm.get('name').touched">
                  Task Name is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="form-group">
                <label for="dueDate">Due Date:</label>
                <input type="date" id="dueDate" formControlName="dueDate" class="form-control"
                  [ngClass]="{ 'is-invalid': taskForm.get('dueDate').invalid && taskForm.get('dueDate').touched }">
                <div class="invalid-feedback" *ngIf="taskForm.get('dueDate').invalid && taskForm.get('dueDate').touched">
                  Due Date is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="form-group">
                <label for="client_id">Client Name:</label>
                <div class="input-group">
                  <select id="client_id" formControlName="client_id" class="form-select"
                    [ngClass]="{ 'is-invalid': taskForm.get('client_id').invalid && taskForm.get('client_id').touched }">
                    <option value="select" disabled selected>Select Client</option>
                    <option *ngFor="let clientName of clients" [disabled]="clientName.status === 'Disabled'" [value]="clientName.id">{{ clientName.name }} <span *ngIf="clientName.status === 'Disabled'">(Disabled)</span></option>
                  </select>

                </div>
                <div class="invalid-feedback" *ngIf="taskForm.get('client_id').invalid && taskForm.get('client_id').touched">
                  Client Name is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="form-group">
                <label for="user_id">Staff Name:</label>
                <div class="input-group">
                  <select id="user_id" formControlName="user_id" class="form-select"
                    [ngClass]="{ 'is-invalid': taskForm.get('user_id').invalid && taskForm.get('user_id').touched }">
                    <option value="select" disabled selected>Select Staff</option>
                    <option *ngFor="let staffName of staff" [disabled]="staffName.status === 'Disabled'" [value]="staffName.id">{{ staffName.name }} <span *ngIf="staffName.status === 'Disabled'">(Disabled)</span></option>
                  </select>

                </div>
                <div class="invalid-feedback" *ngIf="taskForm.get('user_id').invalid && taskForm.get('user_id').touched">
                  Staff Name is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="form-group">
                <label for="repeatTask">Repeat Task:</label>
                <div class="input-group">
                  <select  id="repeatTask" formControlName="repeatTask" class="form-select"
                    [ngClass]="{ 'is-invalid': taskForm.get('repeatTask').invalid && taskForm.get('repeatTask').touched }">
                    <option value="null" disabled selected>Select Repeat Interval</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Biweekly">Biweekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Half Yearly">Half Yearly</option>
                    <option value="Yearly">Yearly</option>
                  </select>
                </div>
                <div class="invalid-feedback" *ngIf="taskForm.get('repeatTask').invalid && taskForm.get('repeatTask').touched">
                  Repeat Task selection is required.
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group">
                <label for="repeatTaskDate">Task Repeation :</label>
                <input  type="date" id="repeatTaskDate" formControlName="repeatTaskDate" class="form-control"
                  [ngClass]="{ 'is-invalid': taskForm.get('repeatTaskDate').invalid && taskForm.get('repeatTaskDate').touched }">
                <div class="invalid-feedback" *ngIf="taskForm.get('repeatTaskDate').invalid && taskForm.get('repeatTaskDate').touched">
                  Due Date is required.
                </div>
              </div>
            </div>



            <div class="col-md-12 mb-2">
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" formControlName="description" class="form-control"
                  [ngClass]="{ 'is-invalid': taskForm.get('description').invalid && taskForm.get('description').touched }"></textarea>
                <div class="invalid-feedback" *ngIf="taskForm.get('description').invalid && taskForm.get('description').touched">
                  Description is required.
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
    </div>
</ng-template>

<ng-template #dateFormModal let-c="close" let-d="dismiss">
  <div class="addModal">
    <div class="modalHeader d-flex justify-content-between align-items-center">
        <h4 class="m-0">Finalize Task</h4>
        <i (click)="d('Cross click')" class="far fa-times-circle"></i>
    </div>
    <form [formGroup]="dateForm" (ngSubmit)="onDateFormSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="dateCompleted">Date Completed:</label>
            <input type="date" formControlName="dateCompleted" id="dateCompleted" class="form-control">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="dateMailed">Date Mailed:</label>
            <input type="date" formControlName="dateMailed" id="dateMailed" class="form-control">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="dateFiled">Date E-Filed:</label>
            <input type="date" formControlName="dateFiled" id="dateFiled" class="form-control">
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>


    </div>
</ng-template>

